/*
  OASIS Specification CSS stylesheet

  This forms part of the package of the DocBook XML publishing environment
  and methodology found linked from http://docs.oasis-open.org/templates/

  Derived from http://www.oasis-open.org/spectools/css/ with changes for
  the colour of titles and headings.

  $Id: oasis-p.css,v 390e8fd6be58 2011-07-26 23:42 +0200 javad $
*/

body     {
           margin-left: 3pc;
         }

h1       {
           font-family: arial, helvetica, sans-serif;
	   font-size: 250%;
           padding-top: 0in;
           color: #66116D;
         }

h2       {
           font-family: arial, helvetica, sans-serif;
	   font-size: 170%;
           color: #66116D;
         }

h3       {
           font-family: arial, helvetica, sans-serif;
	   font-size: 120%;
           color: #66116D;
         }

h4       {
           font-family: arial, helvetica, sans-serif;
           color: #66116D;
         }

h5       {
           font-family: arial, helvetica, sans-serif;
	   font-style: italic;
           color: #66116D;
         }

h6       {
           font-family: arial, helvetica, sans-serif;
	   font-style: small-caps;
           color: #66116D;
         }

.docid-heading {
           font-family: arial, helvetica, sans-serif;
           font-weight: bold;
           color: #66116D;
         }

.loc-heading {
           font-family: arial, helvetica, sans-serif;
           font-weight: bold;
           color: #66116D;
         }

.abstract-heading {
           font-family: arial, helvetica, sans-serif;
           font-weight: bold;
           color: #66116D;
         }

.status-heading {
           font-family: arial, helvetica, sans-serif;
           font-weight: bold;
           color: #66116D;
         }

.thisver-heading {
           font-family: arial, helvetica, sans-serif;
           font-weight: bold;
           color: #66116D;
         }

.prevver-heading {
           font-family: arial, helvetica, sans-serif;
           font-weight: bold;
           color: #66116D;
         }

.editor-heading {
           font-family: arial, helvetica, sans-serif;
           font-weight: bold;
           color: #66116D;
         }

.author-heading {
           font-family: arial, helvetica, sans-serif;
           font-weight: bold;
           color: #66116D;
         }

.contrib-heading {
           font-family: arial, helvetica, sans-serif;
           font-weight: bold;
           color: #66116D;
         }

div.section h1.title {
           padding-top: 0in;
           color: #66116D;
         }

div.article h1.title { 
           padding-top: 0.75in;
           color: #66116D;
         }

pre.programlisting {
           background-color: #E7DEEF;
         }

div.informalexample pre {
           margin-top: 0px;
           padding-top: 0px;
           margin-bottom: 0px;
           padding-bottom: 0px;
           background-color: #E7DEEF;
         }

div.informalexample {
           margin-left: 2em;
	   padding-top: 4px;
	   padding-bottom: 4px;
           border-top-width: 1px;
           border-top-style: solid;
           border-bottom-width: 1px;
           border-bottom-style: solid;
         }

span.term {
           font-weight: bold;
          }

tr       { border-color: #AFAFAF;
         }

td       { border-color: #AFAFAF;
           text-align: left;
         }

th       { border-color: #AFAFAF;
           text-align: left;
         }

col      { border-color: #AFAFAF;
         }

colgroup { border-color: #AFAFAF;
         }

table    { border-color: #AFAFAF;
         }

tbody    { border-color: #AFAFAF;
         }

thead    { border-color: #AFAFAF;
         }

tfoot    { border-color: #AFAFAF;
         }

@media screen {  /* hide from IE3 */
a[href]:hover { background: #ffa }
}
